* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: url("/images/site-background.jpg");
    background-size: 50%;
}
#block-body {
    width: 1035px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 20px #00678C;
}

#header-background{
    background:url("/images/header-background.jpg");
    background-size: 100% 130%;
}
#block-header {
    width: 1035px;
    height: 220px;
}

#block-right {
    margin-top: 5px;
    width: 220px;
    height: auto;
    float: right;
}

#block-content {
    width: 800px;
    height: auto;
}

#block-content h3 {
    margin-left: 15px;
    margin-top: 15px;
    font: bold 18px sans-serif;
    color: red;
}

#header-top-block {
    width: 1035px;
    height: 35px;
    box-shadow: 0 0 5px #00678C;
}

#block-footer {
    width: 1035px;
    height: 160px;
    margin-top: 10px;
    clear: both;
    padding-left: 30px;
}

#header-top-menu li {
    font: 15px sans-serif;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    border-right: 1px solid #E3E3E3;
}
#header-top-menu a {
    font: 15px Impact;
    color: navy;
    text-decoration: none;
}

#header-top-menu a:hover {
   color: #EF662B;
    border-bottom: 1px dashed #EF662B;
}

#header-top-menu span {
    color: #EF662B;
    border-bottom: 1px dashed #EF662B;
}

#reg-auth-title {
    margin-top: 9px;
    margin-right: 10px;
    float: right;
}

#reg-auth-title > a#active-button{
    border: 1px solid #EF662B;
}

#reg-auth-title a.top-auth {
    font: 15px Impact;
    text-decoration: none;
    padding: 4px;
    border: 2px solid #EF662B;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

#reg-auth-title a.top-auth:hover {
    border: 1px solid #EF662B;
}

#reg-auth-title a {
    font: 15px Impact;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    border-bottom: 1px solid #EF662B;
}

#reg-auth-title a:hover {
    border-bottom: none;
    color: #EF662B;
}

#img-logo {
    margin-top: 12px;
    float: left;
}

#personal-info {
    width: 300px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

#personal-info p {
    font: 16px sans-serif;
    margin-top: 2px;
    margin-bottom: 0;
    margin-right: 55px;
}

#personal-info h3 {
    font: bold 20px Verdana;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 55px;
}
#personal-info img {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -50px;
}
#block-search {
    width: 345px;
    height: auto;
    margin-left: 690px;
    margin-top: 145px;
    float: right;
    z-index: 999;
    position: absolute;
}

#block-search span{
    width: 13px;
    height: 13px;
    background: url("/images/icon-search.png");
    position: absolute;
    margin-top: 9px;
    margin-left: 6px;
}

#block-search input#input-search {
    width: 250px;
    height: 28px;
    border: 1px solid #E1E1E2;
    font: 14px sans-serif;
    padding-left: 25px;
}

#button-search {
    width: 58px;
    height: 30px;
    border: 1px solid #E1E1E2;
    background: url("/images/grd-button-search-norm.png");
    margin-left: -5px;
    cursor: pointer;
}
#button-search:hover {
    background: url("/images/grd-button-search-hover.png");
}

#top-menu {
    height: 40px;
    box-shadow: 0 0 5px #00678C;
}
#top-menu li {
    height: 20px;
    float: left;
    display: block;
    margin-left: 15px;
    margin-top: 13px;
    border-right: 1px solid #E26666;
    padding-right: 10px;
}

#top-menu a {
    text-decoration: none;
    color: navy;
    font: 16px Impact;
}

#top-menu a:hover {
    border-bottom: 1px solid white;
    color: #00658B;
}

#block-basket {
    height: 45px;
    padding-top: 0px;
    margin-right: 13px;
}

#block-basket span{
    color: firebrick;
}

#block-basket img{
    width: 35px;
    height: 35px;
    padding-top: 0px;
}

#block-basket a{
    font: bold 16px Impact;
    text-decoration: none;
    margin-left: 20px;
}

#block-categories {
    margin-top: 3px;
    width: 220px;
    height: auto;

}

.header-title {
    width: 210px;
    font: 14px sans-serif;
    margin-top: 0px;
    padding: 7px 0px 10px 10px;
    background: url("/images/grd-title.png");
    color: white;
    border-radius: 5px 5px 0 0;
}

#block-categories li {
    list-style-type: none;
}

#block-categories > ul > li {
    border-bottom: 1px solid #EFEFEF;
}

#block-categories > ul > li > a {
    text-decoration: none;
    text-align: left;
    font: 15px sans-serif;
    padding: 6px 0px 6px 25px;
    display: block;
    cursor: pointer;
}

#block-categories > ul > li > a:hover {
    background-color: #EEEEEE;
}

#block-categories > ul > li > a.active{
    background-color: #EEEEEE;
}

.categories-section {
    margin-left: 50px;
    margin-bottom: 5px;
    display: none;
}

.categories-section li {
    margin-top: 3px;
}

.categories-section a {
    font: 15px sans-serif;
    text-decoration: none;
    color: black;
}

.categories-section a:hover {
    text-decoration: underline;
}

#block-parameter {
    width: 220px;
    margin-top: 10px;
    height: auto;
}

#block-parameter li {
    list-style-type: none;
}

.title-filter {
    font: bold 14px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

#block-input-price li {
    float: left;
    margin-left: 10px;

}

#block-input-price input {
    width: 45px;
    height: 20px;
    font: 14px sans-serif;
    border: 1px solid gray;
    text-align: center;

}

#block-input-price p {
    font: 14px sans-serif;
    float: left;
}

#blocktrackbar {
    width: 220px;
    height: 35px;
    margin-top: 20px;
    padding-top: 10px;
    clear: both;
}

.checkbox-brand li {
    font: 14px sans-serif;
    margin-left: 5px;
    margin-top: 5px;

}

.checkbox-brand input {
    margin-right: 8px;
}

#button-param-search {
    margin-top: 10px;
    width: 81px;
    height: 27px;
    background: url("/images/button-search-norm.png");
    border: none;
    cursor: pointer;
}

#button-param-search:hover {
    background: url("/images/button-search-hover.png");
}

#button-param-search:active {
    background: url("/images/button-search-active.png");
}

#block-news {
    width: 220px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#newsticker {
    width: 220px;
    border-top: 1px solid #DDDDDD;
}

#newsticker p {
    font: 14px sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

#newsticker li {
    border-bottom: 1px solid #DDDDDD;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
}

#newsticker a {
    color: #EF662B;
    font: bold 14px sans-serif;
    text-decoration: none;
}

#newsticker a:hover {
    text-decoration: underline;
}

#newsticker span {
    font: 13px sans-serif;
    padding-bottom: 5px;
    color: #636363;
    display: block;
}

#news-prev {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#news-next {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#footer-phone {
    width: 270px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

#footer-phone h4 {
    font: bold 16px sans-serif;
}

#footer-phone h3 {
    font: bold 23px sans-serif;
    margin: 5px 0;
}

#footer-phone p {
    font: 15px sans-serif;
    margin: 5px 0;
}

.footer-list {
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-list li {
    list-style-type: none;
    margin-top: 5px;
}

.footer-list p {
    margin-top: 10px;
    font: bold 14px sans-serif;
    margin-bottom: 10px;
    color: #641B74;
}

.footer-list a {
    font: 14px sans-serif;
    text-decoration: none;
    color: #7B7B7B;
}

.footer-list a:hover {
    text-decoration: underline;
}

#bottom-line {
    background: url("/images/line.png");
    width: 1035px;
    height: 5px;
}

#nav-breadcrumbs {
    margin-top: 5px;
}

#nav-breadcrumbs a {
    font: 13px sans-serif;
    color: #4268B1;
}

#nav-breadcrumbs a:hover {
    color: #E20000;
}

#nav-breadcrumbs span {
    color: #7F868E;
    font: 14px sans-serif;
}

#block-sorting {
    margin-top: 10px;
    margin-left: 20px;
    height: 60px;
    border-bottom: 1px solid #EEEEEE;
}
#options-list {
    margin-top: 15px;
    margin-left: -10px;
}
#options-list li {
    list-style-type: none;
}

#options-list > li {
    float: left;
    margin-left: 10px;
    font: 14px sans-serif;
}

#options-list img {
    margin-top: -4px;
    cursor: pointer;
}

#select-sort {
    color: #748996;
    text-decoration: underline;
    cursor: pointer;
}

#sorting-list {
    border: 1px solid #A3C0D2;
    position: absolute;
    width: 200px;
    height: 108px;
    background-color: white;
    padding-top: 5px;
    display: none;
}

#sorting-list li {
    margin-top: 3px;
    margin-left: 10px;
}

#sorting-list a {
    font: 15px sans-serif;
    text-decoration: none;
    color: black;
}

#sorting-list a:hover {
    text-decoration: underline;
}

#block-product-grid li {
    list-style-type: none;
}

#block-product-grid > li {
    width: 380px;
    float: left;
    height: 230px;
    margin-left: 20px;
    margin-top: 15px;
}
.style-title-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.style-title-grid a {
    font: bold 15px sans-serif;
    color: #0A83AB;
    text-decoration: underline;
}

.style-title-grid a:hover {
   color: #E26666;
}
.block-images-grid {
    width: auto;
    height: 230px;
    float: left;
    margin-right: 15px;
}

.views-and-counts-grid {
    height: 20px;
    margin-top: 5px;
}

.views-and-counts-grid > li {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}

.views-and-counts-grid > li > p {
    margin-left: 25px;
    font: 13px sans-serif;
    margin-bottom: 0;
}

.views-and-counts-grid > li > img {
    position: absolute;
}

.style-price-grid {
    font: 16px sans-serif;
    margin-top: 7px;
}

.style-price-grid strong {
    font: 25px sans-serif;
    color: #6B6D73;
}
.add-cart-style-grid {
    width: 48px;
    height: 25px;
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    background: url("/images/add-cart-norm.png");
}
.add-cart-style-grid:hover {
    background: url("/images/add-cart-hover.png");
}

.add-cart-style-grid:active {
    background: url("/images/add-cart-active.png");
}

.mini-features {
    font: 14px/18px sans-serif;
    margin-top: 10px;

}

.block-images-list {
    float: left;
    margin-right: 15px;
    min-height: 160px;
    height: auto;
}
#block-product-list {
    display: none;
}

#block-product-list li {
    list-style-type: none;
}
#block-product-list > li {
    border-bottom: 1px solid #E6E6E6;
    min-height: 160px;
    height: auto;
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.views-and-counts-list {
    position: absolute;
    margin-left: 670px;
}

.views-and-counts-list > li {
    float: left;
    margin-left: 10px;
    margin-top: 3px;

}

.views-and-counts-list > li > p {
    margin-left: 25px;
    margin-top: -17px;
    font: 13px sans-serif;
}

.views-and-counts-grid > li > img {
    position: absolute;
}

.style-title-list {
    margin-top: 0;
    margin-bottom: 0;
}
.style-title-list a {
    font: bold 15px sans-serif;
    color: #0A83AB;
    text-decoration: underline;
}

.style-title-list a:hover {
    color: #E26666;
}

.add-cart-style-list {
    width: 48px;
    height: 25px;
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    background: url("/images/add-cart-norm.png");
}
.add-cart-style-list:hover {
    background: url("/images/add-cart-hover.png");
}

.add-cart-style-list:active {
    background: url("/images/add-cart-active.png");
}

.style-price-list {
    font: 15px sans-serif;
    margin-top: 10px;
}

.style-price-list > strong {
    font: 20px sans-serif;
    color: #6B6D73;
}
.style-text-list {
    font: 15px sans-serif;
    margin: 0;
    margin-top: 10px;
}

.pstrnav {
    height: 30px;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.pstrnav li {
    list-style-type: none;
    width: 26px;
    height: 26px;
    margin-left: 7px;
    float: left;
    margin-top: 3px;
}

.pstrnav a {
    display: block;
    text-decoration: none;
    font: bold 14px sans-serif;
    text-align: center;
    color: black;
    background: url("/images/nav-block-norm.png");
    padding-top: 5px;
    padding-bottom: 5px;
}
.pstrnav a:hover {
    background: url("/images/nav-block-hover.png");
}

.pstrnav a:active {
    background: url("/images/nav-block-active.png");
    color: white;
}
.pstrnav a.pstr-active {
    background: url("/images/nav-block-active.png");
    color: white;
}
.pstrnav p.nav-point {
    text-align: center;
    font: bold 14px sans-serif;
    margin-top: 8px;
    margin-bottom: 0px;
}

.h2-title {
    margin-left: 15px;
    font: 25px sans-serif;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
    margin-top: 27px;
}

#block-form-registration {
    height: 450px;
    margin-left: 15px;
}
#form-registration {
    margin-top: 30px;
}
#form-registration li {
    margin-top: 10px;
    list-style-type: none;
}

#form-registration > li > input {
    height: 30px;
    width: 320px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#form-registration > li  > label {
    position: absolute;
    font: 15px sans-serif;
    margin-top: 7px;
}

.star {
    font: 16px sans-serif;
    color: #E35903;
    position: absolute;
    margin-left: 188px;
    margin-top: 10px;
}

#genpass {
    font: bold 13px sans-serif;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-left: 5px;

}
#genpass:hover {
    text-decoration: none;
}

#form-registration > li > input#reg_login,
#form-registration > li > input#reg_pass
{
    height: 30px;
    width: 200px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#form-registration > li > input:focus,
#form-registration > li > input#reg_login:focus,
#form-registration > li > input#reg_pass:focus,
#block-captcha > input#reg_captcha:focus{
    border: 1px solid #C4E1EB;
}


#form_submit {
    background: url("/images/grd_reg_button.png");
    border: 1px solid #E4E4E4;
    font: bold 13px sans-serif;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 33px;
    cursor: pointer;
    margin-top: -15px;
    margin-right: 15px;
}

#form_submit:active {
    background: url("/images/grd_reg_button_vert.png");
}

.error {
    font: italic 14px sans-serif;
    color: #CC0063;
    margin-left: 5px;
}

.reg_message_good {
    font: 18px sans-serif;
    color: black;
    background-color: #EDEDFF;
    border: 1px solid #E6E6FE;
}

.reg_message_error {
    font: bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
}

#reg_message {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: none;
}

#block-top-auth {
    border: 1px solid #DBDBDB;
    width: 210px;
    height: auto;
    margin-left: 725px;
    margin-top: 40px;
    background-color: white;
    position: absolute;
    z-index: 9999;
    box-shadow: 0 0 15px #DBDBDB;
    display: none;
}
.corner{
    background: url("/images/bulleticon.png");
    width: 19px;
    height: 10px;
    margin-left: 177px;
    margin-top: -9px;
}
#block-top-auth li {
    list-style-type: none;
}

#input-email-pass h3 {
    font: 15px sans-serif;
    margin: 10px;
}
#message-auth {
    margin-top: 10px;
    font: bold 15px sans-serif;
    padding: 10px;
    background-color: #FDE7E7;
    color: red;
    display: none;
}
#input-email-pass > li {
    margin-top: 7px;
}

#input-email-pass input#auth_login {
    width: 180px;
    height: 25px;
    font: 15px sans-serif;
    border: 1px solid #DBDBDB;
    padding-left: 5px;
}
#input-email-pass input#auth_pass {
    width: 180px;
    height: 25px;
    font: 15px sans-serif;
    border: 1px solid #DBDBDB;
    padding-left: 5px;
}

.pass-show {
    background: url("/images/open_eye.png") no-repeat;
    width: 18px;
    height: 11px;
}

.pass-hide {
    background: url("/images/eye_closed.png") no-repeat;
    width: 20px;
    height: 10px;
}

#input-email-pass span {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    margin-left: -28px;
}

#list-auth {
    margin-top: 12px;
}
#list-auth li {
    margin-top: 5px;
    margin-left: 10px;
    font: 14px sans-serif;
}

#list-auth a {
    color: black;
    text-decoration: none;
    margin-left: 3px;
    border-bottom: 1px dashed black;
}

#list-auth a:hover {
    border-bottom: none;
}

#button-auth {
    margin-bottom: 10px;
}

#button-auth a {
    margin-right: 10px;
    cursor: pointer;
    background: url("/images/button-grd.png") repeat-x;
    font: bold 13px sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

#button-auth a:hover {
    background: url("/images/button-grd-hover.png") repeat-x;
}

#button-auth a:active {
    background: url("/images/button-grd-active.png") repeat-x;
}

.auth-loading {
    margin-right: 30px;
    margin-top: 20px;
    display: none;
}
#auth-user-info {
    font: bold 14px sans-serif;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}
#auth-user-info:hover {
    color: #CF3A3A;
    border-bottom: 1px dashed #CF3A3A;
    cursor: pointer;
}

#auth-user-info > img {
    position: absolute;
    margin-left: -30px;
    margin-top: -3px;
}

#block-user {
    border: 1px solid #DBDBDB;
    width: 140px;
    height: 60px;
    position: absolute;
    z-index: 7;
    margin-left: 860px;
    margin-top: -5px;
    background-color: white;
    box-shadow: 0 0 15px #DBDBDB;
    display: none;
}

.corner2 {
    background: url("/images/bulleticon.png");
    width: 19px;
    height: 10px;
    margin-top: -9px;
    margin-left: 60px;
}

#block-user ul {
    margin-top: 10px;
}
#block-user li {
    margin-left: 8px;
    margin-top: 6px;
}

#block-user a {
    text-decoration: none;
    font: bold 13px sans-serif;
    color: #57678C;
}

#block-user a:hover {
    border-bottom: 1px dashed #EF662B;
    color: #EF662B;
    cursor: pointer;
}

#block-user img {
    float: left;
    margin-right: 8px;
}

.title-h3{
    margin-left: 15px;
    margin-top: 20px;
    font:bold 17px sans-serif;
    color: #666666;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 5px;
}

#info-profile{
    margin-left: 15px;
    margin-top: 25px;
}
#info-profile  li{
    margin-top: 10px;
    list-style-type: none;
}
#info-profile input{
    height: 30px;
    width: 350px;
    font: 17px sans-serif;
    margin-left: 200px;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 5px;
}

#info-profile input:focus,#info-profile textarea:focus{
    border: 1px solid #C4E1EB;
}

#info-profile  textarea{
    height: 110px;
    width: 350px;
    font: 17px sans-serif;
    margin-left: 200px;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
#info-profile  label{
    font: 14px arial;
    color: #464648;
    position: absolute;
    margin-top: 7px;
}
#form-error{
    font:bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#form-success{
    font:bold 14px sans-serif;
    color: black;
    background-color: #D9FFCA;
    border: 1px solid #B7E787;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#result-search{
    display: none;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
    width: 275px;
    height: auto;
    background-color: white;
}

#result-search li {
    list-style-type: none;
}
#result-search a{
    font: 14px sans-serif;
    text-decoration: none;
    padding: 5px;
    display: block;
    color: black;
}
#result-search a:hover{
    background-color: #F1F2F2;
}

#block-step {
    height: 70px;
    border-bottom: 1px solid #E0E0E0;
}

#block-step li {
    list-style-type: none;
}

#block-step > p {
    font: 19px sans-serif;
    color: #646464;
    margin-top: 8px;
    margin-left: 15px;
    position: absolute;
}

#block-step > a {
    position: absolute;
    border: 1px solid #D98386;
    font:bold 13px sans-serif;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-left: 700px;
    text-decoration: none;
    color: white;
    background-color: #DA2027;
    border-radius:5px;
}

#name-step{
    height: 30px;
}

#name-step li{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#name-step a{
    color: #00658B;
    font: bold 14px sans-serif;
    text-decoration: none;
}
#name-step a.active {
    color: #EF662B;
    font: bold 14px sans-serif;
    border-bottom: 1px dashed #EF662B;
}

#header-list-cart{
    height: 30px;
    border-bottom: 1px solid #DBDBDB;
}
#header-list-cart > div{
    float: left;
    margin-left: 5px;
    text-align: center;
    font: bold 13px sans-serif;
    color: #6D6D6D;
    margin-top: 7px;
}
#head1{width: 130px;}
#head2{width: 400px;}
#head3{width: 55px;}
#head4{width: 140px;}

.block-list-cart{
    height: 130px;
}

.block-list-cart li {
    list-style-type: none;
}
.block-list-cart > div{
    float: left;
    margin-left: 5px;
}
.img-cart{
    width: 130px;
    height: 125px;
}
.title-cart{
    width: 400px;
    height: 125px;
}
.count-cart{
    width: 55px;
    height: 125px;
}
.price-product{
    width: 140px;
    height: 125px;
}
.delete-cart{
    height: 125px;
}

.title-cart > p{
    margin-top: 15px;
}
.title-cart > p > a{
    font: 15px sans-serif;
    color: #097A9F;
}
.title-cart > p > a:hover{
    text-decoration: none;
}

.input-count-style{
    margin-top: 31px;
}
.input-count-style input{
    text-align: center;
    border: 1px solid #DDDDDD;
    width: 32px;
    height: 22px;
    font: 15px sans-serif;
    border-radius:5px;
}

.input-count-style p{
    cursor: pointer;
    font: 15px sans-serif;
    margin: 1px;
}

.price-product p{
    margin-left: 15px;
    margin-top: 65px;
    font: bold 18px sans-serif;
}
.price-product h5{
    position: absolute;
    font: bold 13px sans-serif;
    margin-top: 42px;
    margin-left: 15px;
    color: #848484;
}
.delete-cart img{
    margin-top: 50px;
}
#bottom-cart-line{
    background: url(/images/bottom-line.png);
    height: 5px;
    width: 790px;
    margin: 0 auto;
}

.itog-price{
    font: 20px sans-serif;
}
.itog-price > strong{
    font:18px sans-serif;
}
.button-next{
    margin-top: 30px;
    margin-right: 20px;
}
.button-next > a{
    border: 1px solid #B0C181;
    font:15px sans-serif;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    background: url(/images/grd-next.png);
    border-radius:6px;
}
#clear-cart{
    font: 22px sans-serif;
    margin-top: 40px;
}

#info-radio > li > input{
    margin-top: 7px;
    margin-right: 7px;
}
#info-radio > li{
    margin-left:15px;
    font:15px sans-serif;
    list-style-type: none;
}
#info-order{
    margin-left:15px;
    margin-top: 25px;
}
#info-order > li{
    margin-top: 10px;
    list-style-type: none;
}
#info-order > li > input{
    height: 30px;
    width: 345px;
    font: 17px sans-serif;
    margin-left: 120px;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 5px;
}
#info-order > li > input:focus,#info-order > li > textarea:focus{
    border: 1px solid #C4E1EB;
}
#info-order > li > textarea{
    height: 110px;
    width: 346px;
    margin-left: 120px;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
#info-order > li > label{
    font: 14px arial;
    color: #464648;
    position: absolute;
    margin-top: 7px;
}
#info-order > li > label.order_label_style{
    margin-top: 0px;
}
#info-order > li > span{
    font:italic 13px sans-serif;
    color: #A7A7A7;
    margin-left: 15px;
    margin-top: -1px;
    position: absolute;
}
#info-order > li > span.order_span_style{
    margin-top: 7px;
}
#confirm-button-next{
    background: url(/images/grd-next.png);
    border: 1px solid #B0C181;
    font:15px sans-serif;
    color: white;
    border-radius:6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

#list-info{
    width: 807px;
    height: 228px;
    padding-top: 7px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(/images/boxshadow.png) no-repeat;
}

#list-info > li{
    padding-top: 5px;
    padding-bottom: 5px;
    font:17px Verdana;
    padding-left: 15px;
    list-style-type: none;
}

#list-info > li > strong{
    font:bold 14px Verdana;
    margin-right: 10px;
}

#end-cart-info {
    font: bold 24px sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

#block-breadcrumbs-and-rating{
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
    margin-left: 15px;

}
#nav-breadcrumbs2{
    margin-top: 20px;
}
#nav-breadcrumbs2 > a{
    font: 13px sans-serif;
    color: #4268B1;
}
#nav-breadcrumbs2 > a:hover{
    color: #FFA1A1;
}
#nav-breadcrumbs2 > span{
    font: 14px sans-serif;
    color: #7F868E;
}
#block-content-info{
    height: 370px;
    margin-top: 15px;
    margin-left: 15px;
}
#block-content-info img{
    float: left;
    margin-top: 0px;
    margin-right: 15px;
}
#block-mini-description{
    width: 400px;
    float: left;
}
#content-title{
    font: 19px sans-serif;
    margin: 0;
}
#content-text{
    font: 15px sans-serif;
    margin-top: 10px;
}

.reviews-and-counts-content{
    height: 20px;
    margin-top: 10px;
}
.reviews-and-counts-content > li{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    list-style-type: none;
}
.reviews-and-counts-content > li > p{
    margin-left: 25px;
    margin-top: -1px;
    font: 13px sans-serif;
    margin-bottom: 0px;
}
.reviews-and-counts-content img{
    position: absolute;
}

#style-price{
    font: 23px sans-serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
#add-cart-view{
    width: 88px;
    height: 27px;
    display: block;
    cursor: pointer;
    background: url(../images/button-buy-norm.png) no-repeat;
}
#add-cart-view:hover{
    background: url(../images/button-buy-active.png) no-repeat;
}
#add-cart-view:active{
    background: url(../images/button-buy-click.png) no-repeat;
}

#simptom-list {
    margin-left: 30px;
    margin-top: 30px;
    background-color: aliceblue;
}

#simptom-list li {
    list-style-type: none;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

#simptom-list > ul > li > a {
    font: bold 20px sans-serif;
    cursor: pointer;
}

#simptom-list > ul > li > a:hover {
    text-decoration: underline;
}

.simptom-section {
    display: none;
}

#title-simptom {
    margin-top: 30px;
    font: bold 30px sans-serif;
}

#simptom-line {
    margin-left: 30px;
    width: 765px;
    height: 5px;
    margin-top: 20px;
}

ul.tabs { margin-top: 15px; list-style:none; width:100%; height: 31px; border-bottom: 1px solid #E2E2E2;}
ul.tabs li:first-child {border-left:1px solid #E2E2E2;}
ul.tabs li {float:left; border-right:1px solid #E2E2E2; border-top:1px solid #E2E2E2; background-color:#eee;}
ul.tabs li.active {border-bottom:1px solid #fff; background-color:#fff; margin-bottom:-1px;}
ul.tabs li a {display:block; padding:7px 10px; color:#777;  outline:none; text-decoration:none; font:bold 14px sans-serif;}
ul.tabs li.active a { color:#000;}

.tabs {
    margin-left: 15px;
}

div.tabs_content {width:100%;}
div.tabs_content > div {padding:10px;}
.tabs_content div{
    font: 15px sans-serif;
    margin-top: 5px;
    margin-left: 15px;
}

#link-send-review a{
    text-decoration: none;
    font: bold 13px sans-serif;
    border-bottom: 1px dashed #EF662B;
    color: #EF662B;
    margin-left: 15px;
}
#link-send-review a:hover{
    border-bottom: none;
}

.block-reviews{
    border-bottom: 1px dashed #D8D8D8;
    margin-top: 20px;
}
.block-reviews img{
    float: left;
    margin-left: 15px;
    margin-top: 3px;
}

.author-date{
    font: 14px sans-serif;
    margin-left: 20px;
    color: #8C8C8C;
}
.textrev{
    margin-left: 50px;
    margin-top: 0px;
    margin-right: 100px;
    font: 14px sans-serif;
}
.text-comment{
    font: 15px sans-serif;
}

#send-review{
    display: none;
    width: 400px;
    height: 450px;
}

#title-review{
    font: 14px sans-serif;
    margin-right: 50px;
    color: #8C8C8C;
    margin-bottom: 20px;
}
#send-review input{
    width: 230px;
    height: 25px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid #DBDBDB;
}
#send-review textarea{
    width: 230px;
    height: 70px;
    margin-right: 50px;
    margin-bottom: 25px;
    border: 1px solid #DBDBDB;
}
#label-name{
    font: 14px sans-serif;
    margin-right: 20px;
}
#label-good{
    position: absolute;
    font: 14px sans-serif;
    margin-left: -70px;
}
#label-bad{
    position: absolute;
    font: 14px sans-serif;
    margin-left: -70px;
}
#label-comment{
    position: absolute;
    font: 14px sans-serif;
    margin-left: -95px;
}

#reload-img{
    display: none;
    margin-top: 35px;
    margin-left: 295px;
}
#button-send-review{
    cursor: pointer;
    background: url(../images/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
    margin-left: 270px;
}
#button-send-review:active{
    background: url(../images/button-send-active.png) no-repeat;
}